body {
    margin: 0;
    font-family: Georgia, serif;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 10px;
    text-align: left;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

.navbar a.bold {
    font-weight: bold;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #dcdcdc;
    width: 200px;
    padding: 15px;
    height: 100vh;
}

.content {
    flex: 1;
    background-color: white;
    padding: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0; /* Increase the space between list items */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sidebar-image {
    width: 20%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Space below the image */
}

.content-image {
    width: 60%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Space below the image */
}