<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{ page.title }}</h1>
    <h2>Blog Posts</h2>
        <ol>
            <li>
                <a href="/">Home</a>
                <a href="/2024/08/09/first-blog-post">first-blog-post</a>
            </li>
        </ol>
    <section>
        {{ content }}
    </section>
    <footer>
        &copy; to me
    </footer>
</body>
</html>