<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Engineering Portfolio</h1>
    </div>
    <div class="navbar">
        <a href="/" class="bold">Home</a>
        <a href="/experience">Experience</a>
        <a href="/projects">Projects</a>
    </div>
    <div class="container">
        <div class="sidebar">
            <h3>HYUNJI KIM</h3>
            <img src="assets/images/profile.jpeg" alt="Profile Image" class="sidebar-image">
                <ul>
                    <li>Email</li>
                    <li>CV</li>
                    <li>LinkedIn</li>
                    <li>GitHub</li>
                </ul>
        </div>
        <div class="content">
            <main>{{ content }}</main>
        </div>
    </div>
    <footer>
        &copy; 2024 HJ KIM
    </footer>
</body>
</html>