<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="bold">Home</a>
        <a href="/experience">Experience</a>
        <a href="/projects">Projects</a>
    </div>
    <div class="container">
        <div class="sidebar">
            <h3>HYUNJI KIM</h3>
            <img src="assets/images/profile.jpeg" alt="Profile Image" class="sidebar-image">
                <ul>
                    <li>Email</li>
                    <li>CV</li>
                    <li>LinkedIn</li>
                    <li>GitHub</li>
                </ul>
        </div>
        <div class="about-me">
            <h2>About Me</h2>
            <div class="about-me-content">
                <p>Hello, my name is Kim.</p>
            </div>
        </div>
        <div class="projects">
            <h2>Projects</h2>
            <main>{{ content }}</main>
        </div>
    </div>
</body>
</html>