<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="https://heonjik.github.io/" class="bold">Home</a>
    </div>
    <div class="container">
        <div class="sidebar">
            <h3>HYUNJI KIM</h3>
                <ul>
                    <li>Email</li>
                    <li>CV</li>
                    <li>LinkedIn</li>
                    <li>GitHub</li>
                </ul>
        </div>
        <div class="content">
            <h1>{{ content }}</h1>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 HJ KIM
    </footer>
</body>
</html>
